@charset "utf-8";
/* CSS Document */
*{
	margin: auto;
}
.tong{
	width: 960px; 
	border: #0A0A0A 1px solid;
	height: 500px;
}
.menu ul li{
	display: inline;
	padding: 10px;
}
.menu ul li:hover a{
	color: red;
}
.menu{
	background: #EBE9E9;
	height: 30px;
}